<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVaT52AN0Tz2LBXDn2iBPnFKcLSHCF3mU</string>
	<key>GCM_SENDER_ID</key>
	<string>440650206471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationQuizApp</string>
	<key>PROJECT_ID</key>
	<string>generation-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>generation-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440650206471:ios:4cf7a23b5fdf635d39c9a2</string>
</dict>
</plist>